<div xmlns:th="http://www.thymeleaf.org">
	<div class="d-flex justify-content-between align-items-center mb-3">
		<h3>Zonas de Entrega</h3>
		<a class="btn btn-primary" th:href="@{/zonas/nuevo}">Nueva Zona</a>
	</div>

	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>ID</th>
				<th>Nombre Zona</th>
				<th>Ciudad</th>
				<th>Provincia</th>
				<th>Acciones</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="z : ${zonas}">
				<td th:text="${z.id_zona_entrega}"></td>
				<td th:text="${z.nombre_zona}"></td>
				<td th:text="${z.ciudad}"></td>
				<td th:text="${z.provincia}"></td>

				<td class="d-flex gap-2"><a class="btn btn-sm btn-warning"
					th:href="@{/zonas/editar/{id}(id=${z.id_zona_entrega})}">Editar</a>

					<a class="btn btn-sm btn-danger"
					th:href="@{/zonas/eliminar/{id}(id=${z.id_zona_entrega})}"
					onclick="return confirm('¿Eliminar zona?');">Eliminar</a></td>
			</tr>
		</tbody>
	</table>
</div>
