<div xmlns:th="http://www.thymeleaf.org">

	<!-- CABECERA -->
	<div class="d-flex justify-content-between align-items-center mb-3">
		<h3 th:text="${titulo}">Detalle Pedido</h3>

	
		<a class="btn btn-secondary" th:href="@{/pedidos}"> Volver </a>
	</div>

	
	<table class="table table-bordered table-striped align-middle">
		<thead class="table-dark text-center">
			<tr>
				<th>ID Detalle</th>
				<th>ID Pedido</th>
				<th>ID Producto</th>
				<th>Cantidad</th>
				<th>Precio Unitario</th>
				<th>Subtotal</th>
				<th>Acciones</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="d : ${detalles}" class="text-center">
				<td th:text="${d.id_detalle_pedido}"></td>
				<td th:text="${d.id_pedido}"></td>
				<td th:text="${productoMap[d.id_producto]}"></td>
				<td th:text="${d.cantidad}"></td>
				<td th:text="${d.precio_unitario}"></td>
				<td th:text="${d.subtotal}"></td>

				<td class="d-flex gap-1 justify-content-center">
					<a class="btn btn-warning btn-sm"
					th:href="@{/detallePedido/editar/{id}(id=${d.id_detalle_pedido})}">
						Editar </a>
						
				<a class="btn btn-danger btn-sm"
					th:href="@{/detallePedido/eliminar/{id}(id=${d.id_detalle_pedido})}"
					onclick="return confirm('¿Eliminar este detalle del pedido?');">
						Eliminar </a>
				</td>
			</tr>

			<tr th:if="${#lists.isEmpty(detalles)}">
				<td colspan="7" class="text-center text-muted py-3">No hay
					detalle para este pedido.</td>
			</tr>
		</tbody>
	</table>

</div>
