<div xmlns:th="http://www.thymeleaf.org">
	<div class="d-flex justify-content-between align-items-center mb-3">
		<h3>Clientes</h3>
		<a class="btn btn-primary" th:href="@{/clientes/nuevo}">Nuevo
			Cliente</a>
	</div>


	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>ID</th>
				<th>Tipo de cliente</th>
				<th>Nombre del cliente</th>
				<th>Nombre comercial</th>
				<th>Identificación</th>
				<th>Teléfono</th>
				<th>Correo electrónico</th>
				<th>Dirección</th>
				<th>Acciones</th>
			</tr>
		</thead>


		<tbody>

			<tr th:each="c : ${clientes}">
				<td th:text="${c.id_cliente}"></td>
				<td th:text="${c.tipo_cliente}"></td>
				<td th:text="${c.razon_social}"></td>
				<td th:text="${c.nombre_comercial}"></td>
				<td th:text="${c.identificacion}"></td>
				<td th:text="${c.telefono}"></td>
				<td th:text="${c.email}"></td>
				<td th:text="${c.direccion}"></td>

				<td class="d-flex gap-2"><a class="btn btn-sm btn-warning"
					th:href="@{/clientes/editar/{id}(id=${c.id_cliente})}">Editar</a> <a
					class="btn btn-sm btn-danger"
					th:href="@{/clientes/eliminar/{id}(id=${c.id_cliente})}"
					onclick="return confirm('¿Eliminar cliente?');">Eliminar</a></td>
			</tr>

		</tbody>

	</table>
</div>