<div xmlns:th="http://www.thymeleaf.org">
	<div class="d-flex justify-content-between align-items-center mb-3">
		<h3>Rutas de Entrega</h3>
		<a class="btn btn-primary" th:href="@{/rutas/nuevo}">Nueva Ruta</a>
	</div>

	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>ID</th>
				<th>Zona ID</th>
				<th>Nombre Ruta</th>
				<th>Distancia (km)</th>
				<th>Tiempo (min)</th>
				<th>Acciones</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="r : ${rutas}">
				<td th:text="${r.id_ruta_entrega}"></td>
				<td th:text="${r.id_zona_entrega}"></td>
				<td th:text="${r.nombre_ruta}"></td>
				<td th:text="${r.distancia_estimada_km}"></td>
				<td th:text="${r.tiempo_estimado_min}"></td>
				<td class="d-flex gap-2"><a class="btn btn-sm btn-warning"
					th:href="@{/rutas/editar/{id}(id=${r.id_ruta_entrega})}">Editar</a>
					<a class="btn btn-sm btn-danger"
					th:href="@{/rutas/eliminar/{id}(id=${r.id_ruta_entrega})}"
					onclick="return confirm('¿Eliminar ruta?');">Eliminar</a></td>
			</tr>
		</tbody>
	</table>
</div>
