<div class="card" xmlns:th="http://www.thymeleaf.org">
	<div class="card-body">
		<h4 class="mb-3">Formulario Repartidor</h4>


		<form>
			<div class="row g-3">
				<div class="col-md-6">
					<label class="form-label">Nombres</label> <input
						class="form-control" name="nombres">
				</div>
				<div class="col-md-6">
					<label class="form-label">Apellidos</label> <input
						class="form-control" name="apellidos">
				</div>
				<div class="col-md-4">
					<label class="form-label">CI</label> <input class="form-control"
						name="ci">
				</div>
				<div class="col-md-4">
					<label class="form-label">Teléfono</label> <input
						class="form-control" name="telefono">
				</div>
				<div class="col-md-4">
					<label class="form-label">Email</label> <input class="form-control"
						name="email" type="email">
				</div>
				<div class="col-md-4">
					<label class="form-label">Estado</label> <input
						class="form-control" name="estado" placeholder="ACTIVO / INACTIVO">
				</div>
			</div>


			<div class="mt-3 d-flex gap-2">
				<button class="btn btn-success" type="button">Guardar</button>
				<a class="btn btn-secondary" th:href="@{/repartidores}">Cancelar</a>
			</div>
		</form>
	</div>
</div>