<div xmlns:th="http://www.thymeleaf.org">
	<div class="d-flex justify-content-between align-items-center mb-3">
		<h3>Repartidores</h3>
		<a class="btn btn-primary" th:href="@{/repartidores/nuevo}">Nuevo
			Repartidor</a>
	</div>

	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>ID</th>
				<th>Nombres</th>
				<th>Apellidos</th>
				<th>Identificación</th>
				<th>Teléfono</th>
				<th>Correo electrónico</th>
				<th>Estado</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="r : ${repartidores}">
				<td th:text="${r.id_repartidor}"></td>
				<td th:text="${r.nombres}"></td>
				<td th:text="${r.apellidos}"></td>
				<td th:text="${r.ci}"></td>
				<td th:text="${r.telefono}"></td>
				<td th:text="${r.email}"></td>
				<td th:text="${r.estado}"></td>
				<td class="d-flex gap-2"><a class="btn btn-sm btn-warning"
					th:href="@{/repartidores/editar/{id}(id=${r.id_repartidor})}">Editar</a>
					<a class="btn btn-sm btn-danger"
					th:href="@{/repartidores/eliminar/{id}(id=${r.id_repartidor})}"
					onclick="return confirm('¿Eliminar repartidor?');">Eliminar</a></td>
			</tr>
		</tbody>
	</table>
</div>
