<div xmlns:th="http://www.thymeleaf.org">
	<div class="d-flex justify-content-between align-items-center mb-3">
		<h3>Productos</h3>
		<a class="btn btn-primary" th:href="@{/productos/nuevo}">Nuevo
			Producto</a>
	</div>

	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>ID</th>
				<th>Nombre del producto</th>
				<th>Categoría</th>
				<th>Precio por funda</th>
				<th>Stock disponible (fundas)</th>
				<th>Presentación</th>
				<th>Disponible para venta</th>
				<th>Acciones</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="p : ${productos}">
				<td th:text="${p.id_producto}"></td>
				<td th:text="${p.nombre_producto}"></td>
				<td th:text="${p.categoria}"></td>
				<td th:text="${p.precio_unitario}"></td>
				<td th:text="${p.stock_actual}"></td>
				<td th:text="${p.unidad_medida}"></td>
				<td th:text="${p.activo} ? 'SI' : 'NO'"></td>

				<td class="d-flex gap-2"><a class="btn btn-sm btn-warning"
					th:href="@{/productos/editar/{id}(id=${p.id_producto})}">Editar</a>

					<a class="btn btn-sm btn-danger"
					th:href="@{/productos/eliminar/{id}(id=${p.id_producto})}"
					onclick="return confirm('¿Eliminar producto?');">Eliminar</a></td>
			</tr>
		</tbody>
	</table>
</div>
